# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Usless crap
*.tlog
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.log
*.idb
*.obj
*.pdb
*.ilk
